.display-inline-flex {
  display: inline-flex !important;
}

.display-inline {
  display: inline !important;
}

.tablet-display-inline {
  @include breakpoint(tablet) {
    display: inline !important;
  }
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-row-overwrite {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-center {
  align-items: center;
}

.isDropdownActive,
.isDropdownActive:hover {
  background: var(--purple-30);
}

.isLinkActive,
.isLinkActive:hover {
  @include font-size("text-sm", "bold");
  background: rgba(0, 0, 0, 0.2);
  color: var(--white-60);
  cursor: default;
}

.gap-0 {
  gap: 0 !important;
}

.gap-2 {
  gap: rem(2) !important;
}

.gap-3 {
  gap: rem(3) !important;
}

.gap-4 {
  gap: rem(4) !important;
}

.gap-5 {
  gap: rem(5) !important;
}

.gap-6 {
  gap: rem(6) !important;
}

.gap-8 {
  gap: rem(8) !important;
}

.gap-9 {
  gap: rem(9) !important;
}

.gap-10 {
  gap: rem(10) !important;
}

.gap-12 {
  gap: rem(12) !important;
}

.gap-15 {
  gap: rem(15) !important;
}

.gap-16 {
  gap: rem(16) !important;
}

.gap-24 {
  gap: rem(24) !important;
}

.gap-32 {
  gap: rem(32) !important;
}

.gap-36 {
  gap: rem(36) !important;
}

.gap-70 {
  gap: rem(70) !important;
}

.mt-4 {
  margin-top: rem(4) !important;
}

.mt-7 {
  margin-top: rem(7) !important;
}

.mt-8 {
  margin-top: rem(8) !important;
}

.mt-10 {
  margin-top: rem(10) !important;
}

.mt-12 {
  margin-top: rem(12) !important;
}

.mt-16 {
  margin-top: rem(16) !important;
}

.mt-39 {
  margin-top: rem(39) !important;
}

.mb-0 {
  margin-bottom: rem(0) !important;
}

.mb-4 {
  margin-bottom: rem(4) !important;
}

.mb-10 {
  margin-bottom: rem(10) !important;
}

.mb-12 {
  margin-bottom: rem(12) !important;
}

.mb-13 {
  margin-bottom: rem(13) !important;
}

.mb-14 {
  margin-bottom: rem(14) !important;
}

.mb-15 {
  margin-bottom: rem(15) !important;
}

.mb-18 {
  margin-bottom: rem(18) !important;
}

.mb-20 {
  margin-bottom: rem(20) !important;
}

.mb-24 {
  margin-bottom: rem(24) !important;
}

.mt-64 {
  margin-top: rem(64) !important;
}

.mt-125 {
  margin-top: rem(125) !important;
}

.font-lato {
  font-family: $lato !important;
}

.mb-5 {
  margin-bottom: rem(5) !important;
}

.mb-7 {
  margin-bottom: rem(7) !important;
}

.mb-16 {
  margin-bottom: rem(16) !important;
}

.mb-17 {
  margin-bottom: rem(17) !important;
}

.mb-20 {
  margin-bottom: rem(20) !important;
}

.mb-32 {
  margin-bottom: rem(32) !important;
}

.mb-34 {
  margin-bottom: rem(34) !important;
}

.mt-32 {
  margin-top: rem(32) !important;
}

.mr-10 {
  margin-right: rem(10) !important;
}

.mr-20 {
  margin-right: rem(20) !important;
}

.mr-2 {
  margin-right: rem(2) !important;
}

.ml-2 {
  margin-left: rem(2) !important;
}

.mt-2 {
  margin-top: rem(2) !important;
}

.mt-13 {
  margin-top: rem(13) !important;
}

.mt-14 {
  margin-top: rem(14) !important;
}

.mt-15 {
  margin-top: rem(15) !important;
}

.mt-19 {
  margin-top: rem(19) !important;
}

.mt-20 {
  margin-top: rem(20) !important;
}

.mt-22 {
  margin-top: rem(22) !important;
}

.mt-24 {
  margin-top: rem(24) !important;
}

.mt-30 {
  margin-top: rem(30) !important;
}

.mt-35 {
  margin-top: rem(35) !important;
}

.mt-40 {
  margin-top: rem(40) !important;
}

.mr-4 {
  margin-right: rem(4) !important;
}

.mr-6 {
  margin-right: rem(6) !important;
}

.mr-7 {
  margin-right: rem(7) !important;
}

.mr-10 {
  margin-right: rem(10) !important;
}

.mr-12 {
  margin-right: rem(12) !important;
}

.mr-14 {
  margin-right: rem(14) !important;
}

.mr-15 {
  margin-right: rem(15) !important;
}

.mr-50 {
  margin-right: rem(50) !important;
}

.ml-6 {
  margin-left: rem(6) !important;
}

.ml-10 {
  margin-left: rem(10) !important;
}

.ml-12 {
  margin-left: rem(12) !important;
}

.ml-14 {
  margin-left: rem(14) !important;
}

.ml-19 {
  margin-left: rem(19) !important;
}

.ml-24 {
  margin-left: rem(24) !important;
}

.ml-32 {
  margin-left: rem(32) !important;
}

.ml-36 {
  margin-left: rem(36) !important;
}

.ml-40 {
  margin-left: rem(40) !important;
}

.ml-48 {
  margin-left: rem(48) !important;
}

.ml-54 {
  margin-left: rem(54) !important;
}

.mtb-20 {
  margin-top: rem(20) !important;
  margin-bottom: rem(20) !important;
}

.mlr-6 {
  margin-left: rem(6) !important;
  margin-right: rem(6) !important;
}

.p-0 {
  padding: 0 !important;
}

.p-16 {
  padding: 16px !important;
}

.p-30 {
  padding: rem(30) !important;
}

.ptb-5 {
  padding-top: rem(5) !important;
  padding-bottom: rem(5) !important;
}

.ptb-8 {
  padding-top: rem(8) !important;
  padding-bottom: rem(8) !important;
}

.ptb-15 {
  padding-top: rem(15) !important;
  padding-bottom: rem(15) !important;
}

.ptb-24 {
  padding-top: rem(24) !important;
  padding-bottom: rem(24) !important;
}

.ptb-150 {
  padding-top: rem(150) !important;
  padding-bottom: rem(150) !important;
}

.plr-6 {
  padding-left: rem(6) !important;
  padding-right: rem(6) !important;
}

.plr-20 {
  padding-left: rem(20) !important;
  padding-right: rem(20) !important;
}

.plr-30 {
  padding-left: rem(30) !important;
  padding-right: rem(30) !important;
}

.pr-12 {
  padding-right: rem(12) !important;
}

.pr-8 {
  padding-right: rem(8) !important;
}

.pl-14 {
  padding-left: rem(14) !important;
}

.pl-54 {
  padding-left: rem(54) !important;
}

.pl-18 {
  padding-left: rem(18) !important;
}

.width-90 {
  width: 90px !important;
}

.width-80 {
  width: 80px !important;
}

.nowrap {
  white-space: nowrap;
}

.prewrap {
  white-space: pre-wrap;
}

.p-10 {
  @include spacing(padding, 10, "left+right");
  @include spacing(padding, 10, "top+bottom");
}

.p-20 {
  @include spacing(padding, 20, "left+right");
  @include spacing(padding, 20, "top+bottom");
}

.color-grey-400 {
  color: var(--white-rgba-20);
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.br-20 {
  border-radius: rem(20) !important;

  &:before,
  &:after {
    border-radius: rem(20) !important;
  }
}

.br-22 {
  border-radius: rem(22) !important;
}

.color-white {
  color: var(--white) !important;
}

.color-white-30 {
  color: var(--white-30) !important;
}

.color-white-60 {
  color: var(--white-60) !important;
}

.fs-md-bold {
  @include font-size("text-md", "semibold");
  font-family: $roboto;
}

.fs-xs-semibold {
  @include font-size("text-xs", "semibold");
  font-family: $roboto;
}

.fs-sm {
  @include font-size("text-sm", "regular");
}

.fs-xs {
  @include font-size("text-xs", "regular");
}

.fs-xxs {
  @include font-size("text-xxs", "regular");
}

.fs-lato-md {
  @include font-size("text-md", "regular");
  font-family: $lato;
}

.fs-lato-sm {
  @include font-size("text-sm", "regular");
  font-family: $lato;
}

.fs-lato-sm-italic {
  @include font-size("text-sm", "regular");
  font-family: $lato;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.fs-roboto-md-italic {
  @include font-size("text-md", "medium");
  font-family: $roboto;
  font-style: italic;
}

.min-width-71 {
  min-width: rem(71) !important;
}

.min-width-60 {
  min-width: rem(60) !important;
}

.full-width {
  width: 100% !important;
}

.mobile-full-width {
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.desktop-grow {
  @include breakpoint(desktop) {
    flex: 1 !important;
    width: unset !important;
  }
}

.font-bold {
  font-weight: bold !important;
}

.full-height {
  height: 100% !important;
}

.height-28 {
  height: rem(28) !important;
}

.height-34 {
  height: rem(34) !important;
}

.height-51 {
  height: rem(51) !important;
}

.height-23 {
  height: rem(23) !important;
}

.width-50 {
  flex-grow: 0;
  flex-basis: 55%;
}

.align-stretch {
  align-items: stretch !important;
}

.flexGrow {
  flex-grow: 1;
}

.flexGrow-0 {
  flex-grow: 0;
}

.column-tablet {
  @include breakpoint(tablet) {
    flex-direction: column !important;
  }
}

.column-tablet-start {
  @include breakpoint(tablet) {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}

.wrap-tablet {
  @include breakpoint(tablet) {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
}

.desktop-flex-row {
  @include breakpoint(desktop) {
    flex-direction: row !important;
  }
}

.nowrap-desktop {
  @include breakpoint(desktop) {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }
}

.wrap-desktop {
  @include breakpoint(desktop) {
    flex-direction: row !important;
  }
}

.p-tablet-16 {
  @include breakpoint(tablet) {
    padding: rem(16) !important;
  }
}

.mb-tablet-16 {
  @include breakpoint(tablet) {
    margin-bottom: rem(16) !important;
  }
}

.mt-tablet-16 {
  @include breakpoint(tablet) {
    margin-top: rem(16) !important;
  }
}

.gap-tablet-8 {
  @include breakpoint(tablet) {
    gap: rem(8) !important;
  }
}

.justify-end {
  justify-content: flex-end !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.flex-start {
  align-items: flex-start !important;
}

.hide-psuedo {
  &:before,
  &:after {
    display: none;
  }
}

.width-12 {
  width: rem(12) !important;
}

.min-width-140 {
  min-width: rem(140) !important;
}

.min-width-unset {
  min-width: unset !important;
}

.height-25 {
  height: rem(25) !important;
}

.link-icon {
  position: relative;
  padding-left: rem(17);
}

.link-icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  height: rem(11);
  width: rem(11);
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.553 8.68196L4.84589 9.38907C3.86958 10.3654 2.28667 10.3654 1.31036 9.38907C0.334047 8.41276 0.334047 6.82985 1.31036 5.85354L2.01746 5.14643M8.38143 5.85354L9.08853 5.14643C10.0648 4.17012 10.0648 2.58721 9.08853 1.6109C8.11222 0.634584 6.52931 0.634584 5.553 1.6109L4.84589 2.318M3.44945 7.24997L6.94945 3.74997' stroke='white' strokeLinecap='round' strokeLinejoin='round' /%3E%3C/svg%3E");
}

.hide-visibility {
  visibility: hidden;
}

.z-unset {
  z-index: unset !important;
}

.p-desktop-30 {
  @include breakpoint(desktop) {
    padding: rem(30) !important;
  }
}

.z-max {
  z-index: 999999;
}

.z-negative {
  z-index: -1;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

.mt--10 {
  margin-top: rem(-10);
}

.left-0 {
  left: 0 !important;
}

.top-12 {
  top: rem(12) !important;
}

.flex {
  display: flex !important;
  flex: 1 !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;
}

.pointer-none {
  pointer-events: none;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

div[data-radix-popper-content-wrapper] {
  z-index: 99999 !important;
}
