.wrapper {
  display: flex;

  @include breakpoint2(desktop) {
    flex-direction: column;
  }
}

.tableWithAuctionPrice {
  display: flex;
  flex: 1.5;

  .table {
    flex: 1;

    @include breakpoint2(desktop) {
      &:first-child .header {
        border-radius: rem(8) 0 0 rem(8);
      }
      &:last-child .header {
        border-radius: 0 rem(8) rem(8) 0;
      }
      &:first-child:last-child .header {
        border-radius: rem(8);
      }
    }
  }

  .lastPrice {
    flex: 0.5;

    @include breakpoint2(desktop) {
      &:first-child .header {
        border-radius: rem(8) 0 0 rem(8);
      }
      &:last-child .header {
        border-radius: 0 rem(8) rem(8) 0;
      }
      &:first-child:last-child .header {
        border-radius: rem(8);
      }
    }
  }
}

.table {
  flex: 1;

  h1 {
    font-family: $roboto;
    font-size: rem(14);
    font-weight: 700;
    text-align: center;
    padding: rem(8) 0;
    margin: 0;
    text-wrap: nowrap;
  }

  &:first-child .header {
    border-radius: rem(8) 0 0 rem(8);
  }
  &:last-child .header {
    border-radius: 0 rem(8) rem(8) 0;
  }
  &:first-child:last-child .header {
    border-radius: rem(8);
  }

  @include breakpoint2(desktop) {
    &:nth-child(n) .header {
      border-radius: rem(8);
    }
  }

  .header {
    display: flex;
    background: #43434966;
    padding: rem(12) rem(24);

    @include breakpoint2(mobile) {
      padding: rem(6) rem(12);
    }

    .cell {
      width: calc(100% / 2);
      color: var(--white-60);
      font-family: $roboto;
      font-size: rem(12);
      line-height: rem(14);
      font-weight: 400;
      text-align: center;
    }
  }

  .row {
    display: flex;
    padding: rem(8) rem(12);
    border-radius: rem(8);

    @include breakpoint2(mobile) {
      padding: rem(6) 0;
    }

    &.darkRow {
      background: var(--gray-rgba-20);
    }

    .cell {
      width: calc(100% / 2);
      text-align: center;
      font-family: $roboto;
      font-size: rem(14);
      font-weight: 400;
      color: var(--white);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.bid {
        color: var(--green-30);
      }

      &.ask {
        color: var(--red-20);
      }
    }
  }
}
.lastPrice {
  margin-top: rem(42);

  @include breakpoint2(mobile) {
    margin-top: rem(40);
  }

  .header {
    padding: rem(12) rem(0);
    text-align: center;
    background: #17191c;
    color: var(--white-60);
    font-family: $roboto;
    font-size: rem(12);
    line-height: rem(14);
    font-weight: 400;
    align-items: center;
    text-wrap: nowrap;

    @include breakpoint2(mobile) {
      padding: rem(6) rem(12);
    }

    @include breakpoint2(mobile) {
      padding: rem(6) rem(12);
    }

    &:first-child .header {
      border-radius: rem(8) 0 0 rem(8);
    }
    &:last-child .header {
      border-radius: 0 rem(8) rem(8) 0;
    }
    &:first-child:last-child .header {
      border-radius: rem(8);
    }
  }

  .cell {
    text-align: center;
    font-family: $roboto;
    font-size: rem(14);
    font-weight: 400;
    color: var(--white);
    padding: rem(8) rem(0);
    background: #00000066;

    @include breakpoint2(mobile) {
      padding: rem(6) 0;
    }

    &:first-child .header {
      border-radius: rem(8) 0 0 rem(8);
    }
    &:last-child .header {
      border-radius: 0 rem(8) rem(8) 0;
    }
    &:first-child:last-child .header {
      border-radius: rem(8);
    }
  }
}
