.currency__info {
  display: flex;
  width: 50%;
  @include breakpoint(tablet) {
    width: auto;
  }
}

.divider {
  border-bottom: rem(1) solid var(--white-10);
  margin-bottom: rem(10);

  @include breakpoint(tablet) {
    border-bottom: none;
    width: auto;
    margin-bottom: 0;
  }
}
