.fundlockContainer {
  margin-left: 2px;
  color: var(--white-60);
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: map-get($breakpoints, "desktop")) {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-right: rem(6);
    @include font-size("text-xxs", "normal");
  }

  .value {
    @include font-size("text-xs", "normal");
    margin-right: rem(6);
  }

  .currency {
    margin-right: rem(3);
    @include font-size("text-xs", "semibold");
  }

  .valueContainer {
    align-items: center;
    display: flex;
  }
}

.alwaysInLine {
  flex-direction: row !important;
  align-items: center !important;
}
