.container {
  @include spacing(padding, 10, "left+right");
  @include spacing(padding, 10, "top+bottom");
  display: flex;
  align-items: center;
  gap: rem(24);

  &.mobile {
    gap: rem(12);
    flex-direction: column;
    align-items: start;
  }

  .greeksContainer {
    &.mobile {
      width: 100%;
      display: flex;
    }
  }

  h5 {
    @include font-size("text-md", "medium");
    color: var(--white-60);
    font-family: $lato;
    min-width: rem(100);
  }
}

.column {
  flex: 1;
  color: var(--white);

  .value {
    @include font-size("text-xs", "regular");
  }

  label {
    @include spacing(margin, 4, "bottom");
    @include font-size("text-xs", "regular");
    display: flex;
    align-items: center;
    gap: rem(2);
    color: var(--white-60);
    font-family: $roboto;

    span {
      @include font-size("text-xs", "semi-bold");
      color: var(--white-60);
      font-family: $lato;
    }
  }
}

.title {
  color: var(--white);
  @include font-size("text-sm", "semi-bold");
}
