.container {
  opacity: 0.4;
  position: relative;
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.titleContainer {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.locationRestricted {
  @include font-size("text-xs", "bold");
  padding: rem(11) rem(16) !important;
  border-radius: rem(14) !important;
  font-family: $roboto;
  background: var(--red-20) !important;
  color: var(--white);
  border-width: rem(0);
}

.modal {
  padding: rem(10);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), rgba(255, 255, 255, 0.05);
  width: rem(500);
  color: var(--white);
  border-radius: rem(30);
  cursor: default;
  position: relative;

  @media (min-width: $mobile) {
    padding: rem(30);
  }

  &:before {
    position: absolute;
    border-radius: rem(30);
  }

  &:after {
    content: "";
    background-image: url("../../../assets/noise.png");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: rem(30);
  }
}

.modalBackdrop {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 6;
  height: 100%;
  width: 100%;
}
